<div class="modal-content ngDraggable" id="errorDialog" #errorModal>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
   
     <div class="modal-body text-danger">
      <div class="row" [ngBusy]="busyTableSave">
        <div class="col-2">
          <span>
            <i class="fa fa-exclamation-triangle fa-4x"></i>
          </span>
        </div>
        <div class="col-10">
          <p class="rejectHeaderFont"><strong [innerHtml]="message"></strong></p>
          <strong><ul style="list-style-type: none;"><li *ngFor="let tag of displayNoSelectionDate">{{tag}}</li></ul></strong>
        </div>
      </div>
      <div class="modal-footer" [ngBusy]="busyTableSave">
        <button type="button" class="btn btnSecondary mr-auto" data-dismiss="modal" aria-label="Close" #closeBtn
        (click)="onCancel()"><span><i class="fa fa-ban"></i></span> Cancel</button>
        <button type="button"  class="btn btn-primary pull-right" [disabled]="yesButtonDisable"  aria-label="Yes"
        (click)="onSubmit()"> {{buttonTitle}}</button>
      </div>
    </div>
  </div>

