
::ng-deep .ag-theme-balham .ag-header-group-cell-label {
  justify-content: center;
  color: black;
  font-weight: bold;
}

// Attrition Report Header Class updates 
::ng-deep .ag-theme-balham .ag-header-group-cell-with-group {
 background-color: lightblue;
 border-style: solid;
 border-color:#007CBA;
 border-width: 1px;
}

::ng-deep .ag-theme-balham .ag-header-group-cell-with-group.fill {
  background-color: #E6E6E6;
  border-style: solid;
  border-color:#007CBA;
  border-width: 1px;
 }
 
// Attrition Report Header Class updates 
::ng-deep .ag-theme-balham .ag-header-group-cell-no-group {
  background-color:#E6E6E6 ;
  border-style: solid;
  border-color:#007CBA;
  border-width: 1px;
 }