@import '../../../cbas-base-colors.scss';

.card-header-bg-color{
    background-color: $light-blue;
}
.card-header-bg-colortop{
    background-color: $light-blue;
    height:70px;
}

.btn-info{
    background-color: $dark-blue;
}
.marginbottom{
    margin-bottom: 25px;
}