<div [formGroup]="dashBoardSearchForm"  [ngBusy]="busyTableSave" class="marginbottom">
  <!-- <div class="row">
    <div class="col-12">
      <img src="assets/images/fda-building-dashboard.jpg" alt="placeholder 900" class="img-responsive w-100">
    </div>
  </div> -->
<div>
  <div class="row marginbottom">
   <div class="col-4 pt-2" *ngFor="let c of cards">
      <div class="card mb-2 h-100">
        <div class="card-header card-header-bg-colortop border-bottom-0">
          <h5 class="font-weight-bold mb-0">{{c.title}}</h5>
        </div>
        <!-- (click) ="onBtnClick(c.btn)" -->
        <div class="card-body paddingleft">
          <button class="btn btn-{{c.btnColor}} text-white" type="button" routerLink="{{c.route}}"
            routerLinkActive="router-link-active">
            <i class="fa {{c.icon}} mr-2"></i>{{c.btn}}</button>
        </div>
      </div>
    </div>
   </div>

   
   <div class ="row marginbottom">
    <div class="col-12 mt-2">
      <div class="card mb-2">
        <div class="card-header card-header-bg-color border-bottom-0">
          <h5 class="font-weight-bold mb-0">Select to Populate Data</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-2">
              <div class="form-group">
                <label id="lblyear" for="yearType"><b>Year</b></label>
                <ng-select id="yearType" class="dropdownInput" formControlName="year" [searchable]="false"
                  placeholder="Select Year" [items]="yearsList" bindLabel="yearValue" bindValue="yearType"
                  (change)="onYearChangeEvent($event)" aria-label="year" aria-describedby="lblyear">
                  <ng-template ng-option-tmp let-item="item">
                    <div title="{{item}}">
                      {{item}}</div>
                  </ng-template>
                </ng-select>
              </div>
            </div>


            <div class="col-1 align-self-center">
              <div class="form-group">
                <button type="submit" class="btn btn-primary button-acc" (click)="onGoClick()" title="Go"
                  [disabled]="!dashBoardSearchForm.valid"> <span class="label-sr-only d-none">Go</span>
                  <i class="fa fa-chevron-right"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class ="row">
    <div class="col-8" *ngIf="showStaffingSummary">
      <div class="card" style = "width: 100%; height: 500px;">
        <div class="card-header card-header-bg-color border-bottom-0">
          <h5 class="font-weight-bold mb-0">Staffing Summary</h5>
        </div>
        <div class="card-body">
          <app-staffingsummary [year]="year" [staffingSummaryData]="staffingSummaryData">
          </app-staffingsummary>
        </div>
      </div>
    </div>
    <div class="col-4" *ngIf="showStaffingSummary">
      <div class="card"  style = "width: 100%; height: 500px;" id="image-section">

        <div class="card-header card-header-bg-color border-bottom-0">
          <h5 class="font-weight-bold mb-0"> Hiring Status
            <span><a class="fa fa-download fa-md pull-right" href="Javascript:void(0);" tabindex="0"
                (click)="generateImage()" title="Download Image"></a>
            </span></h5>
        </div>
        <div class="card-body">
          <!-- <div *ngIf ="response !== undefined"> -->
          <div class="pull-right"><b>OFFICE PLANNED POSITIONS: {{hiringStatus.officePlannedPositions}}</b></div>
          <br>
          <div class="pull-right"><b>FY FUNDING LEVEL: {{hiringStatus.fundingLevel}}</b>
          </div>
          <app-hiring-status [year]="year" [hiringStatus]="hiringStatus">
          </app-hiring-status>
        </div>
      </div>
    </div>
</div>
</div>
