<div class="modal-content ngDraggable">
        <div class="modal-header">
                <h5 class="modal-title"><strong>{{title}}</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
                        <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <hr>
        <div class="modal-body">
                <h6 *ngIf="errorDisplay" style="color:red">{{emptymessage}}</h6>
                <label for="filterName">File Name</label>
                <span style="color: red;">*</span>
                <input type="text" class="form-control" [(ngModel)]="fileName"
                        (ngModelChange)=onfileupdateChange()>
                <span>
                        <h6 class="mt-2">FileType: {{fileExtension}}</h6>
                </span>
                <div class="modal-footer">
                        <button type="button" class="btn btnSecondary mr-auto" data-dismiss="modal" aria-label="Close"
                                (click)="close()">
                                <span><i class="fa fa-ban"></i> Cancel </span>
                        </button>
                        <button class="btn btn-primary" title="Save" (click)="saveFileUpdate()">
                                <span class="saveButtonFont"><i class="fa fa-save"></i> Save</span>
                        </button>
                </div>
        </div>

</div>