<nav class="navbar navbar-light bg-light p-0">
  <a class="navbar-brand pl-3" aria-label="fda logo" href="javascript:void(0)">
    <!-- <img src="../../../../assets/images/fda-logo-reverse-213x45.png" width="250" height="40"
      class="d-inline-block align-top" alt=""> -->
  </a>

  <ul class="list-unstyled d-flex mb-0 ml-auto mr-2" id="menu">
    <li *ngIf="enableDashboard" class="pr-1 mt-2">
      <a class="text-white adminCss" href="javascript:void(0)" (click)="goToDashboard()">
        <i class="fa fa-dashboard"></i>
        DASHBOARD</a>
    </li>
    <li class="head-link" *ngFor="let item of menuItems; let i=index">
      <a class='prett text-white' href="javascript:void(0)">{{item.title | uppercase}}</a>

      <ul class="menus" id="{{item.id}}">
        <li class='has-submenu' *ngFor="let s of item.menu_items">
          <div *ngIf="s.submenu.length > 0 && s.link ===''">
            <i *ngIf="i === menuItems.length-1" class="fa fa-chevron-left text-info pl-2"></i>
            <span [ngClass]="{'prett pl-3': s.submenu.length > 0}">
              {{s.label}}
            </span>
            <i *ngIf="i !== menuItems.length-1" class="fa fa-chevron-right text-info pull-right pr-2"></i>
          </div>

          <div *ngIf="s.link !==''">
            <a href="javascript:void(0)" routerLink="{{s.link}}">{{s.label}}
              <i class="fa fa-chevron-right text-info pull-right pr-2" *ngIf="s.submenu.length > 0"></i>
            </a>
          </div>


          <ul class="submenu" *ngIf="s.submenu.length > 0">
            <li class="has-sub-submenu" *ngFor="let s1 of s.submenu">
              <a [ngClass]="{'prett': s1.subSubmenu.length > 0}" href="javascript:void(0)" routerLink="{{s1.link}}"
                [queryParams]="{ year: s1.params }">{{s1.label}}
                <i class="fa fa-chevron-right text-info pull-right pr-2" *ngIf="s1.subSubmenu.length > 0"></i>
              </a>

              <ul class="sub-submenu" *ngIf="s1.subSubmenu.length > 0">
                <li class="has-s3menu" *ngFor="let s2 of s1.subSubmenu">
                  <a [ngClass]="{'prett': s2.s3menu.length > 0}" href="javascript:void(0)"
                    routerLink="{{s2.link}}">{{s2.label}}
                    <i class="fa fa-chevron-right text-info pull-right pr-2" *ngIf="s2.s3menu.length > 0"></i>
                  </a>

                  <ul class="s3menu" *ngIf="s2.s3menu.length > 0">
                    <li *ngFor="let s3 of s2.s3menu">
                      <a href="javascript:void(0)" routerLink="{{s3.link}}">{{s3.label}}</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
  <ul class="list-unstyled d-flex mb-0 mr-3">
    <li class="pr-4 head-link" style="border-bottom: 0rem !important;">
      <a class="text-white adminCss" href="javascript:void(0)" (click)="onClickLogout()"> <i class="fa fa-sign-out"></i>
        LOGOUT</a>
    </li>
    <li class="pr-4 head-link">
      <!--enabled for all roles-->
      <a class="text-white user-icon adminCss" attr.aria-label="admin" href="javascript:void(0)" routerLink="/admin">
        ADMIN
      </a>
      <!--enabled only for admin and IT_Admin roles-->
      <!-- <a *ngIf="roleList === 'admin' || roleList === 'IT_Admin'" class="text-white user-icon adminCss" attr.aria-label="admin" href="javascript:void(0)" routerLink="/admin">
                ADMIN
               </a> -->
    </li>

  </ul>
</nav>
<div class="sub-header"><b>Human Capital</b></div>