<div class="modal-content ngDraggable popover" id="errorDialog" #errorModal>
  <div class="modal-header">
    <div class="row">
      <div class="col-12 marginTopHeader">
        <span class="text-danger">{{title}}</span>
      </div>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <hr>
   <div class="modal-body text-danger">
    <div class="row">
      <div class="col-2">
        <span>
          <i class="fa fa-exclamation-triangle fa-4x"></i>
        </span>
      </div>
      <div class="col-10" >
        <p class="rejectHeaderFont"><strong [innerHtml]="errorMessage"></strong></p>
      </div>
      <!-- <div class="col-10" *ngIf = "details.length > 0">
        <div *ngFor ="let item of details">
        <p class="rejectHeaderFont"><strong [innerHtml]="item"></strong></p>
        </div>
       </div>  -->
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btnSecondary" data-dismiss="modal" aria-label="Close" #closeBtn
        (click)="close()"><span><i class="fa fa-times"></i></span> Close</button>
    </div>
  </div>
</div>