@import '../cbas-base-colors.scss';

.container-fluid {
  padding: 30px !important;
  background-color: #EFEFEF;
}

.btn-primary {
  background-color: $sky-blue !important;
  border-color: $sky-blue !important;
}
