<form name="frmMain" id="frmMain">
  <app-new-header *ngIf="currentUser"></app-new-header>
  <img class="img-width" src="assets/images/fda-building-dashboard.jpg" 
  alt="placeholder 900" class="img-responsive w-100"
  *ngIf="router.url === '/dashboard' && currentUser !== null">
  <!-- <app-sidebar *ngIf="currentUser"></app-sidebar> -->
  <div class="main-content" [ngClass]="{'container-fluid': currentUser !== null}" role="main">
    <toaster-container [toasterconfig]="toasterConfig"></toaster-container>
    <router-outlet></router-outlet>
  </div>
  <footer>
    <app-footer *ngIf="currentUser"></app-footer>
  </footer>
</form>

<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-md">
    <div class="modal-content ngDraggable" ngDraggable>
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">You Have Been Idle!</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pt-0">
        <div class="row">
          <div class="col-12 py-2">
            {{idleState}}</div>
          <div class="col-md-6">
            <button type="button" (click)="logout()" class="btn btn-primary">Logout</button>
          </div>
          <div class="col-md-6">
            <button type="button" (click)="stay()" class="btn btn-primary pull-right">Stay</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>