<form [formGroup]="createClassficationForm" [ngBusy]="busyTableSave">
<div class="modal fade" id="add-classfication" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content ngDraggable">
			<div class="modal-header">
				<div class="row">
					<div class="col-12 marginTopHeader">
						<span>Add Classification</span>
					</div>
				</div>
				<button type="button" id="closeIcon" class="close" data-dismiss="modal" aria-label="Close" (click)="reset()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<hr>
			<!--Modal Body-->
			<div class="modal-body">
                   <!--Office-->
				<div class="form-group">
					<label for="office"><b>Office</b></label>
					<input type="text" class="form-control" name ="office" formControlName="office" disabled="true" id="office"
						placeholder="{{office}}" value="{{office}}" >
				</div>
				<!--Year-->
				<div class="form-group">
					<label for="year"><b>Year</b></label>
					<input type="text" class="form-control" id="year" disabled="true" formControlName="year" id="year"
						placeholder="{{year}}" value="{{year}}">
				</div>
                  <div class="row">
					<div class="col-12">
						<!-- <label class="" for="orgLevel"><b>Organizational Level</b></label> -->
						<!-- <ng-select id="orgLevel" class="form-control" placeholder="Select an option" formControlName="orgLevel"
							(change)="onOrgLevelSelection($event)" name ="orgLevel">
							<option value="null" disabled selected hidden>Select an option</option>
							 <option [value]="null">Select an option</option> 
							 <ng-option *ngFor="let orgLevel of orgLevelsBasedonOffice" [value]="orgLevel.orgLevel">
								{{orgLevel.orgLevelAlias}}</ng-option>
						</ng-select> -->
						 <div class="form-group">
							<label id="lblyear" for="orgLevel"><b>Organizational Level</b></label>
							<ng-select id="orgLevel" class="dropdownInput" formControlName="orgLevel"
								[searchable]="true" placeholder="Select Organizational Level" [items]="orgLevelsBasedonOffice"
								bindLabel="orgLevelAlias" bindValue="orgLevel" (change)="onOrgLevelSelection($event)"
								aria-label="orgLevel" aria-describedby="lblOrgLevel">
								<option value="null" disabled selected hidden>Select an option</option>
								<ng-template ng-option-tmp let-item="item">
									<div title="{{item.orgLevelAlias}}">
										{{item.orgLevelAlias}}</div>
								</ng-template>
							</ng-select>
					   </div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" id="btn-save" data-dismiss="modal" class="btn btn-primary" (click)="createClassfication()" [disabled]="disablesubmitButton">
						<i class="fa fa-send"> Submit </i>

					</button>
				</div>
			</div>
			<!--Modal Footer-->
		</div>
	</div>
</div>
</form>