<div class="form-group" [ngClass]="{ 'has-danger': errors.length > 0 }">
  <label [for]="id" *ngIf="label !== null">
    <b>{{ label }}</b>
    <!--<span *ngIf="!isRequired" class="optional">(optional)</span>-->
    <span *ngIf="showRemainingCharacters" class="optional">Max {{ maxLength }} characters. Remaining
      {{ remainingChars }}</span>
    <span *ngIf="isRequired" class="required">*</span> </label><i *ngIf="iconHide" title="Change History"
    class="info-circle pull-right" (click)="onClickInfo($event)"></i>
  <input class="form-control" #focusElement [ngModel]="text" (keydown)="onKeyDown($event)" [readonly]="disabled"
    (ngModelChange)="inputChanged($event)" (blur)="onBlur()" [id]="id" currencyMask
    [ngClass]="{ 'is-invalid': errors.length > 0 }" [ngStyle]="{
      'background-color': bgColorFlag ? 'lightblue' : 'transparent'
    }" [attr.aria-describedby]="ariaDesribedById" [autocomplete]="autocomplete"
    [options]="{ align: 'left', allowNegative: true }"/>
  <div *ngFor="let e of errors" class="text-danger">{{ e }}</div>
  <!-- FIXME: The ariaDesribedById ID here is being duplicated for each date field that is being inserted.  This needs to be dynamic. -->
  <small [id]="ariaDesribedById" class="form-text text-muted" *ngIf="formatHelp !== null">{{ formatHelp }}</small>
</div>