<div id="splash-dialog" class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content ngDraggable">
			<div class="modal-header">
				<h1 style="color:#5d8fc2;text-align: center;">
					Human Capital ‐ CTP Budget and Acquisitions System
				</h1>
			</div>
			<!--Modal Body-->
			<div class="modal-body">
				<div style="margin-left: 10px; margin-right: 10px; margin-top: 10px;">
					<span><b> This warning banner provides privacy and security notices consistent with applicable
							federal laws, directives, and other federal guidance for accessing this Government system,
							which includes all devices/storage media attached to this system. This system is provided
							for Government-authorized use only. </b></span>
				</div>
				<div style="margin-left: 10px; margin-right: 10px; margin-top: 20px; margin-bottom:-10px;">
					<span><b>
							<ul>
								<li style="margin-top: 10px;">Unauthorized or improper use of this system is prohibited
									and may result in disciplinary action and/or civil and criminal penalties.</li>
								<li>At any time, and for any lawful Government purpose, the government may monitor,
									record, and audit your system usage and/or intercept, search and seize any
									communication or data transiting or stored on this system.</li>
								<li style="margin-top: 10px;">Therefore, you have no reasonable expectation of privacy.
								</li>
								<li style="margin-top: 10px;">Any communication or data transiting or stored on this
									system may be disclosed or used for any lawful Government purpose.</li>
							</ul>
						</b></span>
				</div>
				<!--Modal Footer-->
				<div class="modal-footer">
					<button type="button" id="btn-del-doc" class="btn btn-primary" title="Confirm"
						(click)="confirm()">Confirm</button>
					<button type="button" class="btn btn-secondary" (click)="cancel()" title="Cancel">Cancel</button>
					<p title="Deleting" [ngBusy]="{busy: busy, message: 'Deleting...', backdrop: false}"></p>
				</div>
			</div>

		</div>
	</div>
</div>