@import "./cbas-base-colors.scss";

$icon-color: none; // changes the default icon color
$header-background-color: $sky-blue; // changes the default header background color
$secondary-foreground-color: $white; // changes the default header text color
$border-color: gray; // changes the default color for all borders
$borders: true;