<div class="form-group" [formGroup]="fomGroup">
  <div [ngSwitch]="field.type">
    <app-input *ngSwitchCase="'text'" [field]="field" [formControlName]="field.name" class="input" label={{field.label}}
      iconHide="true" [isRequired]=field.required [disabled]=field.disabled maxLength="4000" autocomplete="off">
      <app-val-msg validator="required" msg="{{field.label}} is required"></app-val-msg>
    </app-input>

    <app-textarea-input *ngSwitchCase="'textarea'" [field]="field" [formControlName]="field.name" class="textarea"
      label={{field.label}} iconHide="true" [isRequired]=field.required [disabled]=field.disabled maxLength="4000"
      autocomplete="off">
      <app-val-msg validator="required" msg="{{field.label}} is required"></app-val-msg>
    </app-textarea-input>

    <app-ngselector *ngSwitchCase="'dropdown'" [field]="field" iconHide="true" [formControlName]="field.name"
      [disabled]=field.disabled [options]=field.options
      (ngModelChange)="selectionChanges(field.name, $event, fomGroup, field.smartListName)" label={{field.label}}
      [isRequired]=field.required>
      <app-val-msg validator="required" msg="{{field.label}}  is required"></app-val-msg>
    </app-ngselector>

    <app-date-input *ngSwitchCase="'date'" label={{field.label}} format="MM/DD/YYYY" [formControlName]="field.name"
      [disabled]=field.disabled iconHide="true" (ngModelChange)="startdateChange()" [isRequired]=field.required>
      <app-val-msg validator="required" msg="{{field.label}} is required field."></app-val-msg>
      <app-val-msg validator="" msg="Invalid Date"></app-val-msg>
      <app-val-msg *ngIf ="field.name === 'detailNteDate'" validator="ensureEndDateGreaterThanStartDate" msg="Detail - NTE Date cannot be prior to the Detail - Effective Date."></app-val-msg>
      <app-val-msg *ngIf ="field.name === 'detailEffectiveDate'" validator="ensureStartDateLessThanEndDate" msg="Detail - Effective Date cannot be after Detail - NTE Date."></app-val-msg>
    
   </app-date-input>

    <app-number-input *ngSwitchCase="'number'" class="input" [formControlName]="field.name" label={{field.label}}
      iconHide="true" [isRequired]=field.required maxLength="100" autocomplete="off">
      <app-val-msg validator="required" msg="{{field.label}} is required field."></app-val-msg>
      <app-val-msg validator="app-input" msg="Invalid Number"></app-val-msg>
    </app-number-input>

    <app-decimal-input *ngSwitchCase="'decimal'" [field]="field" class="input" label={{field.label}}
      [formControlName]="field.name" [isRequired]=field.required iconHide="true" maxLength="100" autocomplete="off">
      <app-val-msg validator="required" msg="{{field.label}} is required field.">
      </app-val-msg>
    </app-decimal-input>


  </div>
</div>