<div class="form-group" [ngClass]="{'has-danger':errors.length > 0}">
    <label [for]="id" *ngIf="label != null"><b>{{label}}</b>
        <!--<span *ngIf="!removeOptional" class="optional">(optional)</span>-->
        <span *ngIf="isRequired" class="required">*</span>
    </label>
    <!-- <i *ngIf="iconHide" title="Change History" class="info-circle pull-right" (click)="onClickInfo($event)"></i> -->
    <div class="input-group" [ngClass]="{'is-invalid':errors.length > 0}" *ngIf="!searchSpecialCharcters">
        <ng-select placeholder="Select an option"
            [ngStyle]="{'background-color':bgColorFlag ? 'lightblue':'transparent'}" class="form-control"
            [ngClass]="{'is-invalid': errors.length > 0}" [disabled]="disabled" [searchable]=true [(ngModel)]="value"
            (blur)="onBlur()" (change)="valueChanged($event)">
            <!-- <ng-option [value]="null" [disabled]="isRequired">{{defaultText}}</ng-option> -->
            <ng-option *ngFor="let option of options" [value]="option.id" [disabled]="option.disabled"
            >
            <div [title]="option.value">  {{option.value}}</div>
               
            </ng-option>
        </ng-select>
    </div>

    <div class="input-group" [ngClass]="{'is-invalid':errors.length > 0}" *ngIf="searchSpecialCharcters">

       <ng-select placeholder="Select an option"
            [ngStyle]="{'background-color':bgColorFlag ? 'lightblue':'transparent' }" class="form-control"
            [ngClass]="{'is-invalid': errors.length > 0}" [disabled]="disabled" [searchable]=true [(ngModel)]="value"
            (blur)="onBlur()" [items]="options" bindLabel="value" bindValue ="id" 
            (ngModelChange)="valueChanged($event)">
            <ng-template ng-option-tmp let-item="item" >
                <div title="{{item.value}}">
                    {{item.value}}</div>
            </ng-template>
        </ng-select>
    </div>
    <div *ngFor="let e of errors" class="text-danger">{{e}}</div>
    <!-- {{options.find(e => e.id === value) ? options.find(e => e.id === value).value : value}} -->
</div>