<div class="row" *ngIf="activeId === 1">
	<div class="col-12">
		<div class="card">
			<div class="card-body">

				<h1 class="card-title">Admin Account</h1>
				<div class="row">
					<div class="col-md-6">
						<section class="widget" widget>
							<div class="widget-body clearfix">
								<div class="row">
									<div class="col-md-12">
										<h2 class="h6 no-margin"><b>Users</b></h2>
									</div>
								</div>

								<div class="row">

									<div class="col-md-8">
										<div class="h6 no-margin">Total Number of Active
											Users : <span style="color:green;">{{totalUserCount}}</span>

										</div>

									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 h-thin-divider" style="margin-top:10px;margin-bottom:10px;">
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>



			</div>
		</div>
	</div>
</div>

<!-- -->
<div class="row" *ngIf="activeId !== 1">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<h1 class="card-title">Human Capital Job Title Table</h1>
				<div class="row">
					<div class="col-md-6">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<ul (navChange)="tabChanged($event)" ngbNav #nav="ngbNav" [(activeId)]="activeId" class="nav-tabs">
	<li [ngbNavItem]="1" id="1"  >
		<a ngbNavLink >Security</a>
		<ng-template ngbNavContent>
			<div class="row" > 
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="pull-right col-12">
									<button id="btn-cr-user" type="button" class="btn btnSecondary" data-toggle="modal"
										data-keyboard="false" data-backdrop="static" data-target="#create-user"
										title="Add User">
										<i class="fa fa-plus"></i>
										Add a User
									</button>
								</div>
							</div>
							<br />
							<section class="widget h-divider autooverflow" widget>
								<div class="row" [ngBusy]="userSubscription">
									<div class="col-12">
										<ag-grid-angular style="width: 100%; height: 450px;" class="ag-theme-balham"
											[gridOptions]="gridOptions" [rowData]="userData" [columnDefs]="colDefs"
											(selectionChanged)='onSelectionChanged($event)'
											(gridReady)="onGridReady($event)" [floatingFilter]="false"
											[suppressMenuHide]="true">
										</ag-grid-angular>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>
			</div>
		</ng-template>
	</li>
	<li [ngbNavItem]="2" id="2">
		<a ngbNavLink>Human Capital Job Title Table</a>
		<ng-template ngbNavContent>
			<app-human-capital-field-mappings (formUpdated)="formUpdated($event)"></app-human-capital-field-mappings>
		</ng-template>
	</li>
	<li [ngbNavItem]="3" id="3" *ngIf ="itAdmin">
		<a ngbNavLink>Batch Jobs</a>
		<ng-template ngbNavContent>
			<app-batch-jobs></app-batch-jobs>
		</ng-template>
	</li>
</ul>
<div [ngbNavOutlet]="nav"></div>

<app-create-user-popup (userCreated)="userCreated($event)" (reloadUsers)="reloadUsers($event)">
</app-create-user-popup>

<app-update-user-popup [userObj]="userObj" (userUpdated)="userUpdated($event)" (reloadUsers)="reloadUsers($event)">
</app-update-user-popup>

<app-delete-user-popup [userId]="usersId" (reloadUsers)="reloadUsers($event)" (userDeleted)="userDeleted($event)">
</app-delete-user-popup>