.red-input:focus {
    background: yellow;
    color: red;
  }
  
  .blue-input:focus {
    background: yellow;
    color: blue;
  }
  
  .local-span {
    background: yellow;
    color: black;
  }
  
  .required {
    font-weight: bold;
    color: #C70032;
    margin-left: 0;
    // font-size: 1.2em;
    position: relative;
    // top: 4px;
  }