<form [formGroup] ="downloadForm">
<div class="modal-content ngDraggable" id="errorDialog" #errorModal>
  <div class="modal-header">
    <div class="row">
        <div class="col-12 marginTopHeader">
            <span>Select an Office</span>
        </div>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
   
     <div class="modal-body">
      <div class="row">
        <div class="col-12">
          <div class="form-group office-drpdwn-panel">
              <label id="lblOffice" for="office"><b>Office</b></label>
              <ng-select id="office" class="dropdownInput" formControlName="office" [searchable]=false
                  placeholder="Select Office" [items]="officeList" bindLabel="office" autofocus
                  bindValue="office" (change)="onOfficeChangeEvent($event)" aria-label="office"
                  aria-describedby="lblOffice">
                  <ng-template ng-option-tmp let-item="item">
                      <div title="{{item.office}}">
                          {{item.office}}</div>
                  </ng-template>
              </ng-select>
          </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btnSecondary mr-auto" data-dismiss="modal" aria-label="Close" #closeBtn
        (click)="close()"><span><i class="fa fa-ban"></i></span> Cancel</button>
        <button type="button" class="btn btn-primary pull-right"
        (click)="onSubmit()" [disabled]="disabledownloadButton">
        <i class="fa fa-file-pdf-o ">&nbsp; Download PDF</i>
      </button>
       </div>
    </div>
  </div>
</form>



