<div class="form-group" [ngClass]="{ 'has-danger': errors.length > 0 }">
  <label [for]="id" *ngIf="label !== null">
    <b>{{ label }}</b>
    <!--<span *ngIf="!isRequired" class="optional">(optional)</span>-->
    <span *ngIf="showRemainingCharacters" class="optional">Max {{ maxLength }} characters. Remaining
      {{ remainingChars }}</span>
    <span *ngIf="isRequired" class="required">*</span> </label>
    <!-- <i *ngIf="iconHide" title="Change History" class="info-circle pull-right" (click)="onClickInfo($event)"></i> -->
  <input [type]="type" class="form-control" #focusElement [ngModel]="text" (keydown)="onKeyDown($event)"
    [readonly]="disabled" (ngModelChange)="inputChanged($event)" (blur)="onBlur()" [id]="id"
    [ngClass]="{ 'is-invalid': errors.length > 0 }"
    [ngStyle]="{ 'background-color': cbapsColor ? 'lightblue' : 'normal' }" [attr.aria-describedby]="ariaDesribedById"
    onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57"
    [autocomplete]="autocomplete" numbersOnly />
  <div *ngFor="let e of errors" class="invalid-feedback">{{ e }}</div>
  <!-- FIXME: The ariaDesribedById ID here is being duplicated for each date field that is being inserted.  This needs to be dynamic. -->
  <small [id]="ariaDesribedById" class="form-text text-muted" *ngIf="formatHelp !== null">{{ formatHelp }}</small>
</div>