<div id="uploadModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content ngDraggable" ngDraggable>
      <div class="modal-header">
        <div class="row">
          <div class="col-12 marginTopHeader">
            <span>{{title}}</span>
          </div>
          <div class="topright">{{fileType}}</div>
        </div>


        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
      <hr>
      <div class ="warningMessageColor" style="padding-left: 25px;">
        <p>{{warningMessage}}</p>
      </div>
      <div class="files-list" *ngFor="let file of files; let i = index">
        <div class="single-file">
          <span class="textBlue"><i class="fa fa-file-text fa-2x"></i></span>
          <div class="info">
            <h4 class="name">
              <strong>{{ file?.name }}</strong>
            </h4>
            <p class="size">
              {{ formatBytes(file?.size) }}
            </p>
            <app-progress [uploadSuccess]="file?.uploadSuccess" [progress]="file?.progress"></app-progress>
            <h6 *ngIf="file.progress < 100" style="text-align:center">{{file.progress}}%</h6>
          </div>
          <div *ngIf="(file.uploadSuccess === true) && (file.progress === 100)">
            <a class="success" width="20px"><i class="fa fa-check-circle fa-lg text-success"></i></a>
          </div>
          <div *ngIf="(file.uploadSuccess === false) && (file.progress === 100)">
            <a class="failed" width="20px"><i class="fa fa-times-circle-o fa-lg text-danger"></i></a>
          </div>
        </div>
        <h6 class="text-center text-success" *ngIf="(file.uploadSuccess === true) && (file.progress === 100)">
          Upload Successful
        </h6>
        <h6 class="text-center text-danger" *ngIf="(file.uploadSuccess === false) && (file.progress === 100)">
          Upload Failed</h6>
      </div>
      <div class="container">
       <div  class="text-danger" *ngFor ="let errorDetails of uploadErrorDetails">{{errorDetails.message}}</div>
      </div>
       <div class="modal-body upload">
        <div class="container1" appDnd (fileDropped)="onFileDropped($event)">
          <input type="file" #fileDropRef id="fileDropRef" (change)="fileBrowseHandler($event.target.files)" />
          <span class="textBlue"><i class="fa fa-upload fa-4x"></i></span>
          <h3>{{bodyFileType}}</h3>
          <h3>or</h3>
          <label class="browseButton" for="fileDropRef">Browse for file</label>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btnSecondary" data-dismiss="modal" aria-label="Close"
            (click)="close()"><span><i class="fa fa-times"></i></span> Close</button>
        </div>
      </div>
    </div>
  </div>
</div>