<form [formGroup]="searchForm" [ngBusy]="busyTableSave">
    <div id="selectedVacancies" class="modal-content ngDraggable" style="width: 1400px !important; left: -90%;">
        <div class="modal-header">
            <div class="row">
                <div class="col-12 marginTopHeader">
                    <span>Enter Selections Data</span>
                </div>
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <hr>
        <div class="modal-body">
            <div class="col-12">

                <div class="row align-items-center">
                    <div class="col-3">
                        <div class="form-group">
                            <label for="search"><b>Search</b></label>
                            <input id="search" type="text" formControlName="search" placeholder="Search"
                                class="form-control " (keyup)="onFilterTextBoxChanged()">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label id="lblfilter" for="filter"><b>My Views</b></label>
                            <ng-select id="filter" class="dropdownInput" formControlName="filter" [searchable]="false"
                                placeholder="Select Default View" [items]="customFilterNames" bindLabel="filterName"
                                bindValue="filterName" (ngModelChange)="onFilterChangeEvent($event)" aria-label="filter"
                                aria-describedby="lblfilter">
                                <ng-template ng-option-tmp let-item="item">
                                    <div title="{{ item.filterName }}">
                                        {{ item.filterName }}
                                    </div>
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-1 align-self-center">
                        <div class="form-group">
                            <button
                                title="{{searchForm.get('filter').value === null ? 'Save View' : 'Delete/Rename View'}}"
                                class="btn btnSecondary button-acc" type="button" (click)="openFilterDialog()">
                                <span class="label-sr-only d-none">Save</span>
                                <i *ngIf="searchForm.get('filter').value === null" class="fa fa-save fa-lg"></i>
                                <i *ngIf="searchForm.get('filter').value !== null" class="fa fa-edit fa-lg"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-6 mt-3">
                        <div><button class="btn btnSecondary pull-right ml-4" type="button" (click)="resetFilterView()"
                                title="Reset">
                                <span class="label-sr-only d-none">Reset</span>
                                <i class="fa fa-refresh fa-lg"></i>

                            </button>
                        </div>
                        <div><button class="btn btnSecondary pull-right ml-4" type="button"
                                (click)="autoSizeCols(false)" title="Auto Fit">
                                <span class="label-sr-only d-none">Auto-Fit</span>
                                <i class="fa fa-arrows-h fa-lg"></i>
                            </button>
                        </div>
                        <div><button class="btn btnSecondary pull-right ml-4" type="button" data-toggle="modal"
                                title="Grid Export" (click)="openExportModal()">
                                <span class="label-sr-only d-none">Grid Export</span>
                                <i class="fa fa-download fa-lg"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <section class="widget h-divider autooverflow" widget>
                    <div class="row">
                        <div class="col-12">
                            <ag-grid-angular style="width: 100%; height: 450px;" class="ag-theme-balham"
                                [gridOptions]="gridOptions" [rowData]="selctedRowsData"
                                (sortChanged)="onSortChange($event)" [quickFilterText]="searchForm.value.search"
                                [columnDefs]="colDefs" [getContextMenuItems]="getContextMenuItems"
                                [suppressRowClickSelection]="true" rowSelection='multiple' [floatingFilter]="false"
                                [rowHeight]="rowHeight" [excelStyles]="excelStyles" [sideBar]="sideBar"
                                (gridReady)="onGridReady($event)" [statusBar]="statusBar" [suppressMenuHide]="true"
                                [frameworkComponents]="frameworkComponents"
                                (selectionChanged)="onSelectionChanged($event)" [multiSortKey]="multiSortKey">
                            </ag-grid-angular>
                        </div>
                    </div>
                </section>

            </div>

        </div>
        <div class="card-footer">
            <div><button class="btn btn-primary pull-right ml-4" type="button" title="Submit" [disabled] = "!validGrade"
                    (click)="submitSelectedRows()">
                    <span class="label-sr-only d-none">Submit</span>
                    <i class="fa fa-send"> Submit</i>
                </button>
            </div>
        </div>
    </div>
</form>