$sky-blue: #007CBA;
$very-dark-blue: #222C67;
$dark-blue: #114181;

$light-grey: #D5D5D5;
$dark-grey: #4A4A4A;

$light-yellow: #FFF2AA;
$dark-yellow: #FFDE6F;

$white: white;

$img-path: "/assets/images/";

$red: red;
$green: #008000;

$light-blue: lightblue;