<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <!-- <div class="container-fluid footer-links text-center text-md-left pl-5 pr-5 pb-4"> -->

        <!-- Grid row -->
        <!-- <div class="row"> -->

            <!-- Grid column -->
            <!-- <div class="col-md-5 mt-md-0 mt-3 border-right border-secondary pr-5"> -->

                <!-- Content -->
                <!-- <div class="footer-header border-bottom border-secondary font-weight-bold">Acquisitions</div>
                <div class="row pl-2 pt-2">
                    <div class="col-6">
                        <span class="font-weight-bold">FY20</span>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">Pre-Commitment</a>
                            </li>
                            <li>
                                <a href="#!">Post-Commitment</a>
                            </li>
                            <li>
                                <a href="#!">Award</a>
                            </li>
                            <li>
                                <a href="#!">Report View</a>
                            </li>
                            <li>
                                <a href="#!">SLA Daya and OAGS Cut-off Dates</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <span class="font-weight-bold">FY19</span>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">Pre-Commitment</a>
                            </li>
                            <li>
                                <a href="#!">Post-Commitment</a>
                            </li>
                            <li>
                                <a href="#!">Award</a>
                            </li>
                            <li>
                                <a href="#!">Report View</a>
                            </li>
                            <li>
                                <a href="#!">SLA Daya and OAGS Cut-off Dates</a>
                            </li>
                        </ul>
                    </div>
                </div> -->
            <!-- </div> -->

            <!-- <div class="col-md-5 mt-md-0 mt-3 border-right border-secondary pl-5 pr-5">
                <div class="footer-header border-bottom border-secondary font-weight-bold">Spend Plan Change</div>
                <div class="row pl-2 pt-2">
                    <div class="col-6">
                        <span class="font-weight-bold">FY20</span>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">Administrative Change</a>
                            </li>
                            <li>
                                <a href="#!">Dollar Change</a>
                            </li>
                            <li>
                                <a href="#!">Spend Plan Reductions</a>
                            </li>
                            <li>
                                <a href="#!">Additional Funds Request</a>
                            </li>
                            <li>
                                <a href="#!">Staffing Target Change Request</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <span class="font-weight-bold">FY19</span>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">Administrative Change</a>
                            </li>
                            <li>
                                <a href="#!">Dollar Change</a>
                            </li>
                            <li>
                                <a href="#!">Spend Plan Reductions</a>
                            </li>
                            <li>
                                <a href="#!">Additional Funds Request</a>
                            </li>
                            <li>
                                <a href="#!">Staffing Target Change Request</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> -->
            <!-- <div class="col-md-1"></div> -->

            <!-- Links -->
            <!-- <h5 class="text-uppercase">Links</h5>
    
                <ul class="list-unstyled">
                  <li>
                    <a href="#!">Link 1</a>
                  </li>
                  <li>
                    <a href="#!">Link 2</a>
                  </li>
                  <li>
                    <a href="#!">Link 3</a>
                  </li>
                  <li>
                    <a href="#!">Link 4</a>
                  </li>
                </ul> -->


            <!-- Grid column -->

            <!-- Grid column -->
            <!-- <div class="col-md-2 mb-md-0 mb-3 pl-5">
                <div class="row">
                    <div class="col-12">
                        <input type="text" placeholder="Search" class="border-secondary" aria-label="Search">
                        <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 pt-2">
                        <span class="pr-4">
                                
                    <i class="fa fa-dashboard fa-lg p pointer" aria-hidden="true" [routerLink]="['/dashboard']" routerLinkActive="router-link-active" ></i>
                 </span>
                        <span class="pr-4">
                            <i class="fa fa-envelope-o fa-lg pointer" aria-hidden="true"></i>
                        </span>
                        <span class="pr-4">
                            <i class="fa fa-laptop fa-lg pointer" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 pt-2">
                            <a class="text-white" href="javascript:void(0)" (click)="onClickLogout()">Logout</a>
                    </div>
                </div>


            </div> -->
        <!-- </div> -->
    <!-- </div> -->
    <!-- Copyright -->
    <div class="footer-copyright copy-right py-3 pl-5">© {{ yearData }} Food & Drug Administration | Human Capital
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->